@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
body{
    background-color: rgb(148, 246, 246);
}

h1{
    text-align: center;
    font-size:90px;
    color: red;
    font-family: "Montserrat";

}
img{
    height: 150px;
    width: 150px;
    margin: 30px auto;
    display: block;
}
.banner{
    background-color: aliceblue;
    padding-bottom: 5px;
}

p{
    text-align: center;
    color: blue;
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
}